.buttonScrollTop {
  position: fixed;
  right: 1.8rem;
  bottom: 6rem;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  background-color: white;
  padding: 0.7rem 1.2rem;
  border-radius: 1rem;
  border: 1px solid $text;
  width: 5rem;
  height: 5rem;
  display: flex;
  padding-top: 0.85rem;
  justify-content: center;
  @include sp {
    border-radius: 0.6rem;
    width: 4rem;
    height: 4rem;
    padding-top: 0.6rem;
  }
  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}
