@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-ed6bde2d34d0915326b7d45db4b46b2f.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-ed6bde2d34d0915326b7d45db4b46b2f.woff)
      format('woff');
  unicode-range: U+20-51;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-89c0a9f624735ec5de262090f6c1d656.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-89c0a9f624735ec5de262090f6c1d656.woff)
      format('woff');
  unicode-range: U+52-7E, U+A0-A4;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-c3d916a26f241df664ac26a30252adfe.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-c3d916a26f241df664ac26a30252adfe.woff)
      format('woff');
  unicode-range: U+A5-D6;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-9fe2d99d2af1fcc38ae154872dbeddfd.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-9fe2d99d2af1fcc38ae154872dbeddfd.woff)
      format('woff');
  unicode-range: U+D7-108;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-da7ad58dc7d12a9fa21e35a0df72fc03.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-da7ad58dc7d12a9fa21e35a0df72fc03.woff)
      format('woff');
  unicode-range: U+109-131, U+134-137, U+139-13D;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-0c0adcab34aee4638e9dce69b19ae76e.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-0c0adcab34aee4638e9dce69b19ae76e.woff)
      format('woff');
  unicode-range: U+13E-148, U+14A-170;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-b9638e259f20365d8b88dda7225d94d1.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-b9638e259f20365d8b88dda7225d94d1.woff)
      format('woff');
  unicode-range: U+171-17E, U+18F, U+218-21B, U+232, U+233, U+237, U+259, U+2C6, U+2C7, U+2D8-2DD,
    U+32C, U+394, U+3A9, U+3BC, U+3C0, U+1E80-1E85, U+1ECA-1ECD, U+1EE4, U+1EE5, U+1EF2, U+1EF3;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-b87097e54a0ae9e6a7b56c87f4e2bfe9.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-b87097e54a0ae9e6a7b56c87f4e2bfe9.woff)
      format('woff');
  unicode-range: U+2013, U+2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039,
    U+203A, U+2044, U+2070, U+2074-2089, U+208D, U+208E, U+20AC, U+2113, U+2116, U+2117, U+2122,
    U+2126, U+212E, U+2153, U+2154;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-5ce24a950ec067e17938a49d9f904a5c.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-5ce24a950ec067e17938a49d9f904a5c.woff)
      format('woff');
  unicode-range: U+2155-215F, U+2190-2193, U+2196-2199, U+219E-21A7, U+21B0-21B3, U+2202, U+2206,
    U+220F, U+2211, U+2212, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264, U+2265, U+25A0, U+25A1,
    U+25CA, U+25CB, U+25CF;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-0e370a7e500e30d8e49d359825d96475.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regular-0e370a7e500e30d8e49d359825d96475.woff)
      format('woff');
  unicode-range: U+FB01, U+FB02;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-b2445a2fa2dd8ff951caecfe207fb413.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-b2445a2fa2dd8ff951caecfe207fb413.woff)
      format('woff');
  unicode-range: U+0, U+20-50;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-697068bf2c2976a03ee9c81696a15107.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-697068bf2c2976a03ee9c81696a15107.woff)
      format('woff');
  unicode-range: U+51-7E, U+A0-A3;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-a00b9f08c19a2715051f903ddc53414c.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-a00b9f08c19a2715051f903ddc53414c.woff)
      format('woff');
  unicode-range: U+A4-D5;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-f368dd32c2066042876f6d0b174bc1c0.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-f368dd32c2066042876f6d0b174bc1c0.woff)
      format('woff');
  unicode-range: U+D6-107;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-d5671d3dd5e4d541639126162649e2c7.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-d5671d3dd5e4d541639126162649e2c7.woff)
      format('woff');
  unicode-range: U+108-131, U+134-137, U+139-13C;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-e0fec7430b8c59176932d39de1521d22.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-e0fec7430b8c59176932d39de1521d22.woff)
      format('woff');
  unicode-range: U+13D-148, U+14A-16F;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-eb360e63959fada753ae3768279ef3e0.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-eb360e63959fada753ae3768279ef3e0.woff)
      format('woff');
  unicode-range: U+170-17E, U+18F, U+218-21B, U+232, U+233, U+237, U+259, U+2C6, U+2C7, U+2D8-2DD,
    U+32C, U+394, U+3A9, U+3BC, U+3C0, U+1E80-1E85, U+1ECA-1ECD, U+1EE4, U+1EE5, U+1EF2;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-16230be4397775939f66b482b4ba915a.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-16230be4397775939f66b482b4ba915a.woff)
      format('woff');
  unicode-range: U+1EF3, U+2013, U+2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030,
    U+2039, U+203A, U+2044, U+2070, U+2074-2089, U+208D, U+208E, U+20AC, U+2113, U+2116, U+2117,
    U+2122, U+2126, U+212E, U+2153;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-4e3bcc5ad7ff9646802b00e147fa92a3.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-4e3bcc5ad7ff9646802b00e147fa92a3.woff)
      format('woff');
  unicode-range: U+2154-215F, U+2190-2193, U+2196-2199, U+219E-21A7, U+21B0-21B3, U+2202, U+2206,
    U+220F, U+2211, U+2212, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264, U+2265, U+25A0, U+25A1,
    U+25CA, U+25CB;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'sans';
  src: url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-5f5f4585d82a1f352cc968157fb83232.woff2)
      format('woff2'),
    url(https://res.cloudinary.com/dfsgqxojd/raw/upload/v1718619677/fonts/regularItalic-5f5f4585d82a1f352cc968157fb83232.woff)
      format('woff');
  unicode-range: U+25CF, U+FB01, U+FB02;
  font-weight: 400;
  font-style: italic;
}
