html {
  font-size: 62.5%;
  /* @media screen and (max-width: 1440px) { */
  font-size: 0.6944vw;
  /* } */
  @include sp {
    font-size: 2.6667vw;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  .example {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
body {
  position: relative;
  color: $text;
  font-family: $sans;
  font-weight: 400;
  font-variation-settings: 'wght' 425;
  font-size: 2.4rem;
  line-height: 1.5;
  // line-height: 1.4;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include sp {
    font-size: 2rem;
  }
}
.page-wrapper {
  position: relative;
  padding: 0 1rem;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
}
// utilitary classes
.pc {
  @include sp {
    display: none;
  }
}
.sp {
  @include pc {
    display: none;
  }
}
picture.cover {
  display: block;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.pre-line {
  white-space: pre-line;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadein {
  animation: 1s ease-in 0s fadeIn;
}

//lenis
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
